/* Dash */

/* default web styles here */

@import "Functions";
// @import "Reset";
@import "Layout";
@import "Scroller";
@import "Alert";

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background: $bodyBg;
}

#root #splash {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    max-width: 480px;
}

#root #splash img {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}