// Default Variables

$mobile-only: '(max-width:599px)';

$tablet-portrait-up: '(min-width:600px)';
$tablet-portrait-only: '(min-width:600px) and (max-width:960px)';
$tablet-portrait-down: '(max-width:959px)';

$tablet-landscape-up: '(min-width:960px)';
$tablet-landscape-only: '(min-width:960px) and (max-width:1200px)';
$tablet-landscape-down: '(max-width:1199px)';

$laptop-up: '(min-width:1200px)';
$laptop-only: '(min-width:1200px) and (max-width:1660px)';
$laptop-down: '(max-width:1659px)';

$desktop-up: '(min-width:1660px)';
$desktop-only: '(min-width:1660px)';
$desktop-down: '(max-width:2559px)';

$highres-up: '(min-width:2560px)';

$regular: 'Titillium Web',
sans-serif;

$primary: #5450ff;
$secondary:#ff835f;
$alt:#ff3b90;

$primaryLight: #eaf6ff;
$primaryDark: #02004a;

$light0: white;
$light1: #f2f6f9;
$light2: desaturate(darken($light1, 8%), 16%);
$light3: desaturate(darken($light1, 16%), 16%);
$light4: desaturate(darken($light1, 24%), 16%);
$light5: desaturate(darken($light1, 32%), 16%);

$dark0: black;
$dark1: #22212f;
$dark2: desaturate(lighten($dark1, 16%), 8%);
$dark3: desaturate(lighten($dark1, 24%), 8%);
$dark4: desaturate(lighten($dark1, 32%), 12%);
$dark5: desaturate(lighten($dark1, 40%), 12%);

$purpleHl: #3D5AFE;
$yellowHl: #FFC107;
$orangeHl: #FF5722;
$greenHl: #5DC828;
$blueHl: #359EFF;
$pinkHl: #E040FB;
$redHl: #F5222D;

$bodyBg: $light1;
$bodyText: $dark2;
$headingText: $dark1;
$labelText: $dark4;

$modalBg: rgba($bodyBg, .88);

$panelBg: $light0;
$panelBdr: $light2;
$panelFooterBg: rgba($light1, .5);
$panelText: $bodyText;
$panelHeading: $headingText;